@tailwind base;
@tailwind components;
@tailwind utilities;

/* 🔧 Override ของเทมเพลต Vite */
#root {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  text-align: initial !important;
}
